body {
	font-family: arial,sans-serif;
	margin: 0;
}

a {
	text-decoration: none; 
}

.heading {
	color: #1a1a1a;
	font-size: small;
	right: 23px;
	top: 15px;
	position: absolute;
}
.heading div {
	display: inline-block; 
	margin: 0px 5px;
	vertical-align: middle;
}

.mail img {
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

.googleArea {
	margin-top: 198px;
}

.google-center {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 272px;
}

.google-center .logo-image {
	height: 92px;
	width: 272px;
}

.google-center .logo-subtext {
	bottom: 3px;
	color: #4285F4;
	position: absolute;
	right: 0;
}

.google-search {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;
	position: relative;
	width: 600px;
}

.google-search .searchBox {
	border: 1px solid #d8d8d8;
    box-shadow: 1px 3px 5px rgba(191, 191, 191, 0.5);
	position: absolute;
	padding: 14px 0;
	margin-left: 15px;
	width: 97%;
}

.google-search .searchBox:hover {
    box-shadow: 1px 3px 10px rgba(191, 191, 191, 0.9);
}

.google-search .mic {
	height: 24px;
	position: absolute;
	right: 17px;
	top: 10px;
	width: 24px;
}

.google-search .tooltip {
    position: relative;
    display: inline-block;
    visibility: hidden;
}

.google-search .tooltiptext {
	background: rgb(45, 45, 45); 
	border: 1px solid rgb(255, 255, 255); 
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px; 
	box-sizing: border-box; 
	color: rgb(255, 255, 255); 
	display: block; 
	font-size: 11px; 
	font-weight: bold; 
	height: 29px; 
	left: 485px; 
	line-height: 29px; 
	padding: 0px 10px; 
	position: absolute; 
	text-align: center; 
	top: 40px; 
	transition: opacity 0.13s;
	white-space: nowrap; 
	z-index: 1;
}

.google-search .tooltiparrow {
	border-color: rgb(255, 255, 255) transparent;
	border-image: initial; 
	border-style: solid; 
	border-width: 0px 6px 6px;  
	content: ""; 
	display: block; 
	font-size: 0px; 
	height: 0px; 
	left: 564px;
	line-height: 0; 
	position: absolute; 
	top: 33px;  
	width: 0px; 
	z-index: 1; 
}

.google-search .tooltiparrow2 {
	border-color: rgb(45, 45, 45) transparent;
	border-image: initial; 
	border-style: solid; 
	border-width: 0px 6px 6px; 
	content: ""; 
	display: block; 
	font-size: 0px; 
	height: 0px; 
	left: 564px;
	line-height: 0; 
	position: absolute; 
	top: 35px;  
	width: 0px; 
	z-index: 2; 
}

.google-search .micArea:hover .tooltip {
	visibility: visible;
}

.buttons {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.eachButton {
	background-color: #f2f2f2;
	border-radius: 2px;
	color: #808080;
	display: inline-block; 
	font-size: small;
	font-weight: bolder;
	margin: 0 2px;
	padding: 10px 16px;
}

.eachButton:hover {
	border: 1px solid #bfbfbf;
	color: #404040;
	padding: 9px 15px;
}

.language {
	color: #1a1a1a;
	font-size: small;
	margin-top: 25px;
	text-align: center;
}

.french {
	display: inline-block;
}

.footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e6e6e6;
	bottom: 0px;
	height: 40px;
	position: absolute;
	width: 100%;
}

.footer a {
	font-size: small;
	color: #666666;
	padding: 0px 14px;
}

.footer .left {
	float: left;
}

.footer .right {
	float: right;
}

.footer div {
	display: inline-block;
	margin: 10px 15px;
}